# Arduino IDE ve app.arduino.cc tarafından oluşturulan geçici dosyalar
*.bin
*.elf
*.hex
*.o
*.d
*.eep
*.lst
*.map
*.sym
*.lss
*.srec
*.ino.cpp
*.ino.elf
*.ino.hex
*.ino.map
*.ino.sym
*.ino.lss
*.ino.srec
*.ino.bin

# Derleme ve yapılandırma dosyaları
build/
.vscode/
*.bak
*.tmp

# Yerel yapılandırma dosyaları
.ino.cli
.ino.cache
.ino.local

# macOS sistem dosyaları
.DS_Store

# Windows sistem dosyaları
Thumbs.db
Desktop.ini

# Arduino kütüphane bağımlılıkları
libraries/*
!libraries/README.md
